main{
    h1{
        font-style: $stilo-h1;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 5000;
        font-size: 80;
        text-align: center;
        color: $color-h1;
        -webkit-animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both
        
        
    }
    .parrafo{
        color: $color-letraparrafo;
        font-size: larger;
        padding-left: 20%;
        padding-right: 20%;
    }
    .textoespecial{
        color: $color-letraespcial ;
        ;
    }
}
p{
    color: black;
    
}
#p2{
    color:$color-letraparrafo;
}
#divblog{
    display: flex;
    align-items: center;
    justify-content: center ;
    
}
h5{
    color: black;
}


#contacto{
    display: flexbox;
    align-items: center;
    justify-content: space-between;
}


@-webkit-keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}